#map {
  height: 600px;
  width:100%
}
@media all and (max-width: 768px) {
  #map {
    height: 500px;
  }
}
.makeStyles-root-7 > * {
  max-width:90%;
  height: 560px auto;
  margin: 16px auto;
  overflow: auto;
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.leaflet-control-mapquest-directions {
  height: auto;
}

.leaflet-control-mapquest-navigation {
  background: none;
  box-shadow: none;
}

button {
  margin-left: 20px;
}
label{
  color:rgb(238, 198, 23);
  background-color: rgba(31, 28, 28, 0.541);
  /* padding:10px 12px; */

}
.listOfItems{
  background-color:rgba(31, 28, 28, 0.541);
  color:rgb(238, 198, 23);
  text-align: center;
  max-width: 300px;
  border-radius: 5px;
}
.deleteItem{
  color:rgb(91, 91, 117);

}
/* #tripInfor{
  padding-left:1px;
} */



