#map {
  height: 625px;
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.leaflet-control-mapquest-directions {
  height: auto;
}

.leaflet-control-mapquest-navigation {
  background: none;
  box-shadow: none;
}

button {
  margin-left: 20px;
}
