#map {
  height: 400px;
}
@media all and (max-width: 768px) {
  #map {
    height: 500px;
  }
}
.makeStyles-root-7 > * {
  max-width: 560px;
  /* height: 560px auto; */
  margin: 16px auto;
  overflow: auto;
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.leaflet-control-mapquest-directions {
  height: auto;
}

.leaflet-control-mapquest-navigation {
  background: none;
  box-shadow: none;
}

button {
  margin-left: 20px;
}
label{
  color:rgb(238, 198, 23);
  background-color: rgba(31, 28, 28, 0.541);
  /* padding:10px 12px; */

}



